<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Hi {{name}}, </title>
  <style>
    body {
      background-color: white;
    }

    .btn {}
  </style>
</head>

<body>

  <p>
    It looks like you have requested a password reset. Please complete your password reset by clicking the button below.
  </p>
  <p>
    The link before expires in one hour. If the password has not been reset by then, you won't be able to reset your
    password until you have requested another one.
  </p>
  <p>
    If you have not requested a password reset then please ignore this email.
  </p>

  <div>
    <a href="{{link}}" class="btn a">Reset password</a>
  </div>

  <p>
    If you have issues clicking the visiting the link below
  </p>

  <a href="{{link}}">{{link}}</a>
</body>

</html>