Hi {{name}}


<h2>Password Reset</h2>
<p>
  It looks like you have requested a password reset. Please complete your password reset by clicking the button below.
</p>
<p>
  If you have not requested the password then please ignore this email
</p>

<div>
  <a href="{{link}}">Reset password</a>
</div>

{{>footer}}