{{>flash}}

<div class="container mt-header">
  <div class="loginform">

    <form class="form-signin" method="POST" action='/account/reset-password'>
      <h1 class="h3 mb-3 font-weight-normal">Reset Password</h1>

      <label for="password">Password</label>
      <input type="password" name='password' class="form-control" placeholder="Password" required autofocus>

      <label for="new_password">Password</label>
      <input type="password" name='new_password' class="form-control" placeholder="Password" required autofocus>

      <input type="hidden" name="id" value="{{params.id}}">
      <input type="hidden" name="token" value="{{params.token}}">


      <button class="btn btn-primary btn-block" type="submit">Reset Password</button>

    </form>
  </div>

</div>