{{#if error}}
  <div class="app-alert alert alert-danger" role="alert">
    {{error}}
  </div>
{{/if}}

{{#if message}}
  <div class="app-alert alert alert-success" role="alert">
    {{message}}
  </div>
{{/if}}


<div class="container mt-header">

  <form class="form-signin" method="POST" action='/user/forgot-password'>
    <h1 class="h3 mb-3 font-weight-normal">Enter email</h1>
    <input type="email" name='email' class="form-control" placeholder="Email address" required autofocus>
    <br>
    <button class="btn btn-primary btn-block" type="submit">Reset </button>
  </form>

</div>