{{#if error}}
<div class="app-alert alert alert-danger" role="alert">
  {{error}}
</div>
{{/if}}


<div class="container mt-header">
  <div class="loginform">
    <form class="form-signin" method="POST" action='/user/reset-password'>
      <h1 class="h3 mb-3 font-weight-normal">Reset Password</h1>

      <input type="email" name='email' class="form-control" placeholder="Email address" required autofocus>

      <input type="password" name="password" class="form-control" placeholder="Password" required>

      <input type="password" name="password" class="form-control" placeholder="Password again" required>

      <button class="btn btn-primary btn-block" type="submit">Reset </button>

    </form>
  </div>

</div>