{{#if message}}
<div class="app-alert alert alert-success" role="alert">
  {{message}}
</div>
{{/if}}

{{#if error}}
<div class="app-alert alert alert-danger" role="alert">
  {{error}}
</div>
{{/if}}

<div class="position-relative p-5 p-md-5 text-center bg-light">
  <div class="col-md-5 p-lg-5 mx-auto my-5">
    <h1 class="display-4 ">Express Starter</h1>
    <p class="lead font-weight-normal">
      This is a boilerplate for creating express based applications. It includes all one might need to build a web app.
    </p>
    <a class="btn btn-outline-secondary" href="#">Coming soon</a>
  </div>
  <div class="product-device shadow-sm d-none d-md-block "></div>
  <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>

<div class="flex-md-equal w-100 my-md-3 pl-md-3">

  <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
    <div class="my-3 p-3">
      <h2 class="display-5 text-white">Simple set up required</h2>
      <p class="text-light">Read the readme to use</p>
    </div>
    <div class="bg-white shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
  </div>

  <div class="bg-info mt-3 mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
    <div class="my-3 py-3">
      <h2 class="display-5 text-white">Built on mordern JS</h2>
      <p class="text-light">ES6, async await etc</p>
    </div>
    <div class="bg-white shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
  </div>

</div>