{{#if error}}
<center>
  <div class="app-alert alert alert-danger" role="alert">
    {{error}}
  </div>
</center>
{{/if}}

<div class="container mt-big">
  <div class="col">
    <h1 class="h1">{{title}} Here</h1>
  </div>
  <div class="col-6">
    <form method="POST" action="/user/register" method="POST">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" name="name" aria-describedby="emailHelp" placeholder="Enter name">
      </div>
      <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control" name="email" aria-describedby="emailHelp" placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else
        </small>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" name="password" placeholder="Password">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>

  </div>

</div>