@import url('./normalize.css');
:root {
  --fb-brand-color: #3b5998 !important;
  --twitter-brand-color: #1da1f2 !important;
  --google-brand-color: #ea4335 !important;
  --github-brand-color: #333 !important;
}

body {
  font-family: 'Noto Sans HK', Avenir, 'Segoe UI', Roboto, 'Helvetica Neue', sans-serif;
  height: 100vh !important;
  overflow-x: hidden;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none !important;
  cursor: pointer !important;
  transition: color .3s cubic-bezier(0.25, 0.46, 0.45, 0.94)
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  color: #000000ab;
}

.fb {
  background-color: var(--fb-brand-color);
  color: whitesmoke
}

.twitter {
  background-color: var(--twitter-brand-color);
  color: white
}

.google {
  background-color: var(--google-brand-color);
  color: white
}

.github {
  background: var(--github-brand-color);
  color: white;
}

.github a:hover {
  color: white !important;
}

.app-alert {
  position: relative;
  width: 80%;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
  transition: all 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.sidebar {
  position: relative;
  height: calc(100vh - 57px);
}

.mt-big {
  margin-top: 200px;
}

.mt-header {
  margin-top: 100px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-small {
  width: 80%;
  margin: 100px auto 0 auto;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type='email'] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type='password'] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

input {
  outline: none;
  transition: border-bottom 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

input:focus {
  border-bottom: 3px solid coral;
}

.navbar {
  height: 70px;
}

ion-icon {
  font-size: 20px;
  position: relative;
  top: 3px;
  color: whitesmoke;
}