<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Hi {{name}}, </title>
  <style>
    body {
      background-color: white;
    }

    .btn {}
  </style>
</head>

<body>

  <p>
    Your password has been sucesfully reset. To login in please click on the link below
  </p>

  <div>
    </button>
    <a href="{{link}}" class="btn a">Reset password</a>
    <button>
  </div>

  <p>
    If you have issues clicking the visiting the link below
  </p>

  <a href="{{link}}">{{link}}</a>
</body>

</html>